<%- include('header.ejs', {title:'Latest XKCD', hasTime: true}) %>
	<div class="main has-scroll xkcd has-box">
		<div class="comic-container center">
			<div class="comic-title center"></div>
			<div class="full">
				<img src="" alt="XKCD Comic" class="comic-image"/>
			</div>
		</div>
	</div>
	<%- include('scroll.ejs') %>